@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .noListImage {
    list-style-image: none !important;
  }
}

body {
  @apply font-display text-gray-800 bg-globalBg
}

h1, h2, h3, h4, h5, h6{
  @apply mb-6 relative
}

h1{
  @apply text-4xl md:text-5xl font-bold mt-8
}
h2 {
  @apply text-3xl md:text-4xl font-medium mt-6
}
h3 {
  @apply text-2xl md:text-3xl font-medium
}
h4 {
  @apply text-xl md:text-2xl
}
h5 {
  @apply text-lg md:text-xl uppercase
}
h6 {
  @apply text-base md:text-lg uppercase
}

p{
  @apply mb-4
}

h1:after,
h2:after,
h3:after,
h4:after{
  content: '';
  @apply block h-full w-1 rounded-full bg-accent absolute -left-4 top-0
}

h1.noDecoration:after,
h2.noDecoration:after,
h3.noDecoration:after,
h4.noDecoration:after{
  content: '';
  @apply hidden
}

/* Lists */
ol, ul {
  @apply text-base mb-4
}
ul li {
  @apply list-inside text-base;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 20px 20px;
  padding: 0;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  @apply text-accent font-black inline-block w-1 -ml-1 mr-4
}

.noListImage ul li::before,
ul.noListImage li::before {
  @apply hidden
}

ol li {
  counter-increment: my-awesome-counter;
  @apply mb-2
}
ol li::before {
  content: counter(my-awesome-counter) ;
  @apply inline-flex items-center justify-center w-5 h-5 bg-accent rounded-full p-1 font-medium text-center mr-3 text-0.7
}

ul li::marker {
  @apply rounded-full w-6 h-6 bg-accent text-base mr-4;
}


/* Footer */
.nav-footer {

}
.nav-footer li{
  @apply text-0.7 text-primary py-1 px-3 rounded-md hover:bg-tertiary transition
}
